* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background: #DCE35B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.hr{
  border: 1px solid black;
  background-color: black;
  width: 100%;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 736px;
}

.flex-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 10%;
  width: 180px;
  height: 210px;
  margin: 28px
}

.form-switch {
  align-self: center;
}

.lamp-on{
  background-color: yellow;
  width: 75%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 10px 10px gray;
  margin-top: 10px;
}

.lamp-off{
  background-color: white;
  width: 75%;
  height: 100%;
  border-radius: 50%;
  margin-top: 10px;
}

.socket {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
  height: 30%;
  background-color: grey;
  border: 1px solid black;
  border-radius: 10%;
}

@media (max-width: 720px){
  .flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 10%;
    width: 88px;
    height: 92px;
    margin-top: 10px;
    margin-right: 70px;
    margin-bottom: 8px;
  }
  .lamp-on{
    box-shadow: 2px 2px gray;
  }

}

@media (max-width: 420px) {
  .flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 10%;
    width: 80px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 45px;
  }
  
  .lamp-on{
    box-shadow: 5px 5px gray;
  }
}